body {
  font-family: sans-serif;
  background-color: #ffe4d7;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.account-transactions {
  display: flex;
}

.all-accounts {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.account-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.account-button:focus {
  color: #384780;
  background-color: #fff1f8;
}

.transactions-table,
tr,
td {
  width: 1000px;
  border: 1px solid black;
}
.goals {
  display: flex;
}

.all-goals {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.goals-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
#button {
  border-radius: 12px;
  background: #ffe4d7;
  padding: 20px 16px;
  box-shadow: -19px 19px 38px #ab9990, 19px -19px 38px #ffffff;
}
