body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.account-transactions {
  display: flex;
}

.category-transactions {
  display: flex;
  flex-direction: column;
  width: 1500px;
}

.category-container {
  display: flex;
  width: 1000px;
}

.categories {
  width: 500px;
}

.category-viz {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
}

.all-accounts {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.account-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.category-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
}

.category-button:focus {
  color: #384780;
  background-color: #fff1f8;
}

.account-button:focus {
  color: #384780;
  background-color: #fff1f8;
}

.transactions-table,
tr,
td {
  width: 1000px;
  border: 1px solid black;
}

.modules {
  margin-left: 5px;
  margin-top: 0px;
  text-align: left;
}

ul {
  list-style: none;
}

.user-home {
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
  width: 400px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid #384780;
}
