@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

* {
  font-family: 'Mukta';
}

body {
  font-family: 'Mukta';
  background-color: #e4e0e0;
}

a {
  text-decoration: none;
  color: #384780;
}

label {
  display: block;
}

nav {
  background-color: white;
  height: 120px;
}

.top-nav {
  background-color: white;
  height: 50px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.account-transactions {
  display: flex;
}

.category-transactions {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  width: 1500px;
  color: #384780;
}

.category-container {
  display: flex;
  width: 1000px;
}

.categories {
  color: #384780;
  width: 600px;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.category-viz {
  width: 400px;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.all-accounts {
  display: flex;
  font-size: 20px;
  color: #384780;
  flex-direction: column;
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
  margin: 40px 0px 40px 40px;
  padding: 10px;
  align-items: center;
}

.view-all-transactions {
  display: flex;
  font-size: 20px;
  color: #384780;
  flex-direction: column;
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
  margin: 20px 0px 40px 40px;
  padding: 10px;
  align-items: center;
}

.account-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}
.category-button {
  vertical-align: middle;
  color: white;
  background-color: #8f3b76;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  height: 120px;
  box-shadow: -5px 5px 10px #ab9990;
}

.category-button:focus {
  /* background-color: #4CB38A; */
  background: linear-gradient(145deg, #4cb38a, rgb(48, 114, 87));
}

.account-button {
  color: white;
  background-color: #8f3b76;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}

.view-all-transactions-button {
  color: white;
  background-color: #c92257;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}

.account-button:focus {
  background: linear-gradient(145deg, #4cb38a, rgb(48, 114, 87));
}

.all-transactions {
  font-size: 20px;
  color: #384780;
  width: 1200px;
  margin: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.dashboard-transactions {
  font-size: 20px;
  color: #384780;
  margin: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.transactions-table {
  width: 500px;
}

.budget-container {
  display: flex;
}

.budget-calculator {
  color: #384780;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.all-budgets {
  color: #384780;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.budget-table {
  width: 600px;
  border: 1px solid black;
}

.spending-per-day-table {
  width: 200px;
  border: 1px solid black;
}

.goals {
  display: flex;
}

/* .goals-button {
  color: #4cb38a;
  background-color: #fff1f8;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
} */

#button {
  border-radius: 12px;
  background: #384780;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px;
  background: linear-gradient(145deg, #485ba5, #2d3966);
  box-shadow: -10px 10px 20px #ab9990;
}

.goal-buttons {
  display: flex;
  align-self: baseline;
  justify-content: space-around;
  /* height: 200px;
  padding: 20px; */
}

.goal-single {
  color: #384780;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
}
.single-goal-info {
  width: 400px;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.lables {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}
.goal-viz {
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}
.add-goal-button {
  color: white;
  background-color: #8f3b76;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}
.update-goal-button {
  color: white;
  background-color: #4cb38a;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

.submit-goal-button {
  color: white;
  background-color: #4cb38a;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}
.delete-goal-button {
  color: white;
  background-color: #c92257;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}
.allgoals {
  font-family: 'Mukta';
  font-size: 20px;
  color: #384780;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}
.goals-container {
  font-family: 'Mukta';
  font-size: 20px;
  color: #384780;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goals-and-buttons {
  display: flex;
  flex-direction: column;
}

.all-goals-info {
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}

.form-container {
  font-size: 20px;
  color: #384780;
  width: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* height:50vh;   */
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

.info {
  color: #384780;
  padding: 20px;
}

#button:focus {
  background: linear-gradient(145deg, #e62663, rgb(170, 31, 75));
}

#buttonleft {
  border-radius: 12px;
  background: #384780;
  padding: 20px 16px;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(145deg, #485ba5, #2d3966);
  box-shadow: -10px 10px 20px #ab9990;
}

#buttonleft:focus {
  background: linear-gradient(145deg, #e62663, rgb(170, 31, 75));
}

#buttonform {
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  background: #384780;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 16px;
  margin-top: 20px;
  background: linear-gradient(145deg, #485ba5, #2d3966);
  box-shadow: -10px 10px 20px #ab9990;
}

#buttonform:focus {
  background: linear-gradient(145deg, #e62663, rgb(170, 31, 75));
}

.modules {
  margin-left: 5px;
  margin-top: 0px;
  text-align: left;
}

ul {
  list-style: none;
}

.user-home {
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
  width: 400px;
}

.float-container {
  /* border: 3px solid #fff; */
  padding: 20px;
}

.float-child {
  width: auto;
  float: left;
  padding: 50px;
  margin: 40px 0px 40px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
  /* border: 5px solid #abb5de; */
}

.float-child-Acc {
  width: 53%;
  float: left;
  padding-left: 50px;
  /* border: 5px solid #abb5de; */
}

.fullSize {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.moreblue {
  background-color: blue;
}

.moregreen {
  background-color: darkgreen;
}

.red {
  background-color: red;
  padding: 20px;
  border: 2px solid #384780;
}

#partners,
#top {
  position: relative;
  z-index: 100;
}

#partners {
  margin: 12px 0 3px;
  text-align: center;
}

.clearfix:after,
.row:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

#partners .wrap {
  width: 700px;
  margin: auto;
}

.wrap {
  margin: 10 auto;
  position: relative;
  width: 990px;
}

#partners ul {
  float: left;
}

#partners li,
ul,
h1 {
  display: inline;
  float: none;
}

#c img {
  padding-top: 40px;
  display: inline;
  float: none;
}

ul {
  list-style-position: outside;
  list-style-type: none;
}

#buttonicon {
  position: relative;
  left: 120px;
  top: 30px;
  padding: 10px;
  width: 60px;
  height: 60px;
}

#buttonhome {
  position: relative;
  left: 0px;
  top: 20px;
  width: 40px;
  height: 40px;
}

#plaidimg {
  margin-left: 125px;
}

/**
 * Tooltip Styles
 */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(63, 59, 59);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  /* left: 50%; */
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* TESTING FORMS CSS */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  align-items: flex-start;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  /* flex: 1 0 0px; */
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 10px;
  font-size: 20px;
  margin: 5px 7px;
  width: 100%;
  border: none;
}

.flex-outer li select {
  text-indent: 15px;
  width: 1500px;
  padding: 0 5em;
  margin: 5px 70px;
  width: 10%;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #4a3b76;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: space-around;
}

.box img {
  width: 120px;
  height: 60px;
}

.headercenter {
  text-align: center;
  width: 100%;
}

.wrapper {
  /* margin-top: 5%; */
  /* width: 80%; */
  display: flex;
  justify-content: center;
  background-color: rgb(228, 224, 224);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.container {
  width: 65%;
  padding: 5% 10%;
}

h1 {
  align-self: center;
}

.name {
  margin-left: 0%;
  align-items: left;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.leftinput {
  align-items: left;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}

.address-info div {
  width: 70%;
}

.cc-info {
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
}

.cc-info div {
  width: 45%;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btns button {
  margin: 3px 0;
  height: 30px;
  /* width: 50%; */
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}

.btns button a {
  width: 100%;
}

.btns button:disabled {
  border: 1px solid #c9c6c6;
  background-color: #9688c1;
}

.btns button :hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .btns {
    align-items: center;
    /* button: {
      width: 100%;
    } */
  }
  form h1 {
    text-align: center;
  }
  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .cc-info div {
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .street,
  .cc-num {
    text-align: center;
  }
  input {
    margin: 5px 0;
    min-height: 40px;
  }
}

/* DASHBOARD */

.serv ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.serv ul li {
  list-style: none;
  display: inline-block;
  width: 30%;
  flex: 0 0 33.333333%;
  margin: 1% 1%;
  background-color: #f9eee9;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.serv ul li span {
  padding: 0px;
}

.dashboard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  color: #384780;
}

.item {
  background-color: #f9eee9;
  width: 100px;
  height: 200px;
  flex: 0 0 32%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 1% 0;
}

.item:nth-child(3n-1) {
  margin-left: 2%;
  margin-right: 2%;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid::after {
  content: '';
  flex: auto;
}

/* .exposetab {
    width: 100px;
    height: 66px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
} */

/* Flex item width required: 215px
Flex item margin 20px on each side: 215px + 20 + 20 = 255px
I needed 3(your item per row) so: 255px * 3
Then to (100% of parent-flex minus 255 * 3) / 2 padding on each side
 So it stays in the center.  */

/* padding: 40px calc((100% - (255px * 3)) / 2); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.parent-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(228, 224, 224);
  padding: 40px calc((100% - (255px * 3)) / 2);
}

.flex-item {
  /* height: 300px; */
  /* flex: 0 0 215px; */
  /* margin: 1em 20px; */
  flex: 0 0 215px;
  margin: 2em 9px;
  border-radius: 10px;
  border: 2px rgba(16, 16, 21, 0.783) solid;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* TABLE CSS  */

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table.fl-table {
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  /* width: 100%; */
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

table.fl-table td,
table.fl-table th {
  padding: 8px;
}

table.fl-table td {
  border-right: 2px solid #f8f8f8;
  border: 2px solid #f8f8f8;
  font-size: 16px;
}

table.fl-table h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

table.fl-table thead th {
  color: #ffffff;
  background: #4cb38a;
  border-top: 1px solid#4CB38A;
}

table.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #384780;
  border-top: 1px solid#384780;
}

table.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  table.fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: 'Scroll horizontally >';
    display: block;
    text-align: right;
    color: white;
    padding: 0 0 10px;
  }
  table.fl-table thead,
  table.fl-table tbody,
  table.fl-table thead th {
    display: block;
  }
  table.fl-table thead th:last-child {
    border-bottom: none;
  }
  table.fl-table thead {
    float: left;
  }
  table.fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  table.fl-table td,
  table.fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 18px;
    text-overflow: ellipsis;
  }
  table.fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  table.fl-table tbody tr {
    display: table-cell;
  }
  table.fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  table.fl-table tr:nth-child(even) {
    background: transparent;
  }
  table.fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  table.fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  table.fl-table tbody td {
    display: block;
    text-align: left;
  }
}

.transaction-description {
  width: 650px;
}

.transaction-category {
  width: 250px;
}

.transaction-date {
  width: 110px;
}

.transaction-subcategory {
  width: 225px;
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 1000px;
}

.dashboard-viz {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: -5px 5px 10px #ab9990; */
}

.dashboard-section {
  color: #384780;
  width: 400px;
  margin: 40px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #ab9990;
}

/* SLIDER */

#landingimg {
  max-width: 100%;
  height: auto;
  background-size: 100% auto;
}

.money {
  text-align: right;
  width: 100px;
}

.loading {
  text-align: center;
  /* vertical-align: top; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-dashboard {
  color: #384780;
  font-family: 'Mukta';
}
